<!-- <div class="jumbotron" style="background-color: #343a40;">
    <div class="outline" style="margin: 0% 5% 0% 5%;">
        <div class="row">
            <div class="col">
                <h3 style="color: white;">Previous Boss</h3>
                <div class="card bg-danger mb-3" style="max-width: 18rem; margin-right: auto; margin-left: auto;">
                    <div class="card-header">{{displayBosses.Name}}</div>
                    <img class="centerImage" src={{displayBosses.Image}} alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3 style="color: white;">Current Boss</h3>
                <div class="card border-primary mb-3" style="max-width: 18rem; margin-right: auto; margin-left: auto;">
                    <div class="card-header">{{displayBosses.Name}}</div>
                    <img class="centerImage" src={{displayBosses.Image}} alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3 style="color: white;">Next Boss</h3>
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin-right: auto; margin-left: auto;">
                    <div class="card-header">{{displayBosses.Name}}</div>
                    <img class="centerImage" src={{displayBosses.Image}} alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div *ngIf="isArray(currentBoss); else elseBlock">
    <div *ngFor="let boss of currentBoss">
    {{boss.Name}}
    </div>
</div> -->
<!-- <ng-template #elseBlock>
        <div class="container">
                <div class="col">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Secondary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-primary mb-3 col" style="max-width: 20rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        </div>
                </div>
        </div>
</ng-template> -->