<!-- <div style="margin-left: auto; margin-right: auto; max-width: 75%;">
<table class="table table-bordered" style="text-align: center;">
  <thead>
    <tr class="table-primary">
        <th *ngFor="let time of selectedTime">{{time}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weekday of weekDays; let i = index">
      <th class="table-primary">
        {{weekday}}
      </th>
      <td *ngFor="let bossRotation of serverBossRotation[i]; let j = index" id="id{{i}}{{j}}">
        <div>
          <div *ngIf="isArray(bossRotation); else elseBlock">
            <div *ngFor="let boss of bossRotation">
              {{boss}}
            </div>
          </div>
          <ng-template #elseBlock>{{bossRotation}}</ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div> -->